<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CEGUIBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CEGUIExtend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CEGUIOpenGL3Renderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B6F791E1ECF433300E3D303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF72B51EB3D524000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF72C71EB3DA9C000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF776E1EB3EC28000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BCF7BE61EC60394000EF50E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
